[2017-09-09 15:36] fbruetting opened #2 "Radio icons don’t show up"
When I search for a station, the icon is shown in the search results overview. But after adding a station, this is not saved to the local radio overview. I tried this on the RPM version and there it works fine.

[2018-02-03 20:30] EmmanuelP opened #3 "Typefind element not found"
Lollypop song library is never populated by the files I have in my music library. This is due to something wrong in the SDK gstreamer installation. Decodebin element needs a typefind element which is missing.

[code]

But in the GNOME Platform SDK, it seems to work fine:

[code]

[2018-05-14 09:19] bulu009 opened #4 "Lollypop flatpak not recognising theme adapta"
I am on KDE Neon 5.12.5 and have kvantum theme installed in addition to adapta gtk theme and adapta flatpak theme.

But lollypop is not recognising the theme. What do I need to do?

[2018-05-15 22:08] TingPing commented on #4
I think it is just a KDE limitation. For technical details Gtk gets information on what theme to use via XSettings on Xorg and KDE does not have a daemon for that. You can probably find, install, and configure one but that is probably a pain.

[2018-06-05 15:47] bilelmoussaoui commented on #4
@bulu009  Do you have the same issue with  another Gtk application? If so, this is then an upstream issue.

[2018-06-05 15:49] bilelmoussaoui commented on #3
You have this issue when you try to import which type of music files?

[2018-06-06 13:31] EmmanuelP commented on #3
It works as expected now.

[2018-06-06 13:31] #3 closed

[2018-08-22 08:20] #4 closed

[2018-09-02 14:09] andrefmarques opened #6 "Version not up to date"
At his moment the flatpak version is at 0.9.507, while the latest release is 0.9.522.

[2018-09-02 14:38] andrefmarques commented on #6
Thank you :)

[2018-09-02 15:34] bilelmoussaoui commented on #6
It's building correctly now https://flathub.org/builds/#/builders/2/builds/4134. Should be fixed soon!
@TingPing The test build was successful. Should have been more careful with the "distribution" build

[2018-09-02 15:34] #6 closed

[2018-09-16 15:38] aviwad opened #7 "global gnome search doesn't work for lollypop in flatpak version"
hello! Cedric told me to ask here instead of the main lollypop gitlab.
So, this is not a technical limitation because many flatpak applications can have global gnome search (example: web technical preview, files development flatpak) but lollypop doesn't show with search in gnome settings or overview in the flatpak, but it works in the normal packaged lollypop. why?

[2018-09-16 17:18] bilelmoussaoui commented on #7
I will take a look. My app has the same problem, i will see what causes that and proivde a fix either here or upstream. Thanks for reporting

[2018-09-18 11:33] aviwad commented on #7
awesome! thanks for looking at my report :)

[2018-09-21 12:17] nedrichards commented on #7
I suspect you're not exporting a search provider (or if you are putting it in the correct place it doesn't have the app-id as its name).

[2018-09-21 12:53] bilelmoussaoui commented on #7
This is an upstream issue as the dbus service must have the same name as the application ID in order to be exported
[code]

[2018-09-21 12:53] #7 closed

[2018-10-14 12:40] temrix opened #11 "libgi too old on Debian stretch"
The current flatpak version of Lollypop 0.9.604 does not transmit listening data to listenbrainz or others.

I did this in the Python3 interpreter, since Lollypop does the same:
[code]

It does not work for me on Debian stretch with Lollypop installed from the ppa. Flatpak uses its own Python interpreter and libs but I guess it is the same issue.

See [https://gitlab.gnome.org/World/lollypop/issue

[2018-10-14 13:32] TingPing commented on #11
Your issue doesn't make sense at all. What is the actual error you are getting, what is failing?

[2018-10-14 16:14] temrix commented on #11
Lollypop does not transmit listening data to listenbrainz or librefm and logging in to librefm does not work. It seems to be a problem with Glib.

Here is the output from `$ flatpak run org.gnome.Lollypop --debug`:
[code]

[2018-10-14 17:39] TingPing commented on #11
Sounds like `xdg-desktop-portal` on your host is too old. You may also be missing `gnome-keyring`, not sure.

[2018-10-16 20:15] temrix commented on #11
I have no easy way to upgrade `xdg-desktop-portal` without messing up my system. `gnome-keyring` is installed though.

[2018-10-18 20:48] temrix commented on #11
I still get the same debug messages but it now _does_ transmit to listenbrainz and librefm although I don’t remember that I changed anything. Strange but it works again.

[2018-10-18 20:48] #11 closed

[2018-10-31 23:15] diegogangl opened #12 "Update to 0.9.607"
The current version in flathub has a bug that affects the Play Albums button when used in the genres view.
https://gitlab.gnome.org/World/lollypop/issues/1532#note_357169

[2018-12-14 10:09] bilelmoussaoui commented on #12
The app is already up to date.

[2018-12-14 10:09] #12 closed

[2018-12-18 22:51] alessandrococco opened #15 "Update to 0.9.905"
Hello!

Lollypop has been updated to [version 0.9.905](https://gitlab.gnome.org/World/lollypop/commit/af3cdc7085e51add7bf089f03f06880990e26b3d)

Could you update the flatpack version also? Thank you :-)

ps: I just noticed that the last flatpack version is 0.9.900, I believed it was still 0.9.612, my fault.

[2018-12-18 23:00] bilelmoussaoui commented on #15
Done :+1:

[2018-12-18 23:00] #15 closed

[2019-02-06 19:14] alex285 opened #16 "Pillow Blur doesn't work"
cover should had blur
![screenshot from 2019-02-06 19-32-18](https://user-images.githubusercontent.com/11244308/52367182-281b2d80-2a54-11e9-8200-a3b16e05fe5d.png)

It gives
[code]

OpenJPEG repo
https://github.com/uclouvain/openjpeg

[2019-02-08 14:41] alex285 commented on #16
it is now fixed upstream, but i used master openjpeg branch, b/c last release was 2 years ago; also build options could be improved, i will check on that later

https://gitlab.gnome.org/alex285/lollypop/commit/a2392bb08ae35bf5627c8b6cc4eb5053116c572e

[2019-02-08 16:32] #16 closed

[2019-03-21 23:29] lionirdeadman opened #22 "Add python3-textblob module"
Lyrics view has a button which wants this dependency. :ok_hand:
![image](https://user-images.githubusercontent.com/39467792/54791286-9afcf400-4c0f-11e9-96e6-6d46064c681c.png)

[2019-04-13 11:13] rugk opened #24 "Outdated version"
On https://gitlab.gnome.org/World/lollypop/tags, v1.0.4 and even v1.0.5 have already been released, but this is still at v1.0.3 here.

[2019-04-16 09:23] #24 closed

[2019-04-18 10:33] da2x opened #26 "Missing dependency: kid3-cli"

[2019-04-18 13:51] bilelmoussaoui commented on #26
kid3-cli should be installed on host. I can still add it here, but not sure if that will work

[2019-04-18 15:21] bilelmoussaoui commented on #22
Fixed on master.

[2019-04-18 15:21] #22 closed

[2019-04-18 16:01] loupianche commented on #26
Yes, should be added on host, Lollypop uses flatpak-spawn.

[2019-04-18 17:35] bilelmoussaoui commented on #26
We can add it here, but it requires qt to build it. I will have to play with that later so we can ensure that the application runs perfectly fine without any packages to be installed on host.

[2019-04-18 17:36] loupianche commented on #26
No, it's not needed.

[2019-04-18 17:38] bilelmoussaoui commented on #26
It's not needed because you're using flatpak-spawn currently. I can patch locally and see if I can make it work. Otherwise, the user will have to install a third party package, which is not "possible" with Silverblue for example

[2019-04-18 17:39] loupianche commented on #26
If you install kid3-cli in flatpak, nothing to patch, Lollypop will use it.

[2019-04-18 17:42] bilelmoussaoui commented on #26
Oh that's perfect then! I will take a look and see how to include it with the minimum of dependencies :)

[2019-06-23 13:49] loupianche opened #31 "1.1.1 is out"

[2019-06-28 14:54] loupianche opened #32 "1.1.3 is out"

[2019-06-28 14:59] loupianche commented on #26
Was wrong :-/ Lollypop looks at flatpak-spawn...

[2019-06-28 17:55] #31 closed

[2019-06-30 07:53] bilelmoussaoui commented on #32
Fixed. Sorry for the delay!
@nedrichards @TingPing Can we give @loupianche push access here & to Eolie? he's the upstream maintainer. Thank you!!

[2019-06-30 07:53] #32 closed

[2019-07-24 11:37] LeandroStanger opened #34 "Update to v1.1.4.5"

[2019-07-31 10:59] alosarjos commented on #34
Hoping https://github.com/flathub/org.gnome.Lollypop/pull/35 fixes this. Is the first time I PR here and I'm afraid it was way too easy to simply update it so probably there is something wrong.

[2019-07-31 11:30] bilelmoussaoui commented on #34
Fixed

[2019-07-31 11:30] #34 closed

[2019-08-19 15:14] Eonfge commented on #26
It would perhaps be better to put Kid3 in a flatpak instead.

[2019-09-13 07:25] Eonfge opened #42 "Lollypop settings reset"
With the migration of 3.34, [DConf access has been changed](https://github.com/flathub/org.gnome.Lollypop/pull/41/files). As such, it caused all Lollypop settings to reset.

This is something to reconsider. While it is easy to re-configure a music player, this change can be quite annoying for more complex applications. It also introduces a new issue: Using DConf 3.32, I can now no longer analyze t

[2019-09-13 07:45] Eonfge commented on #42
I see that about 8 hours ago, a DConf migration setting was added, but the current live build is from two hours before that. It will be advised to quickly rebuild Lollypop and to redistribute this migration flag.

[2019-09-13 07:48] TingPing commented on #42
The build is already live.

[2019-09-13 07:48] #42 closed

[2019-09-13 09:07] bilelmoussaoui commented on #42
My bad, sorry for that. Fixed that as soon as I could

[2019-10-07 19:37] rugk commented on #26
IMHO, I usually see `flatpak-spawn` used as a workaround.
So I wonder why Lollypop prefers it here… Or actually, why do the Lollypop devs have decided to implement it like this?

Because cannot all these write/save to audio filer actions be done inside of the flatpak? Why do you need to execute it on the host?

At least, I would argue to implement a fallback algo in Lollypop, so that it uses kid3

[2019-10-08 07:50] loupianche commented on #26
Because having kid3-cli was not an option some years ago.

Already fixed ;)

[2019-10-08 08:31] rugk commented on #26
So this means kid3-cli can now be included in the flatpak?

[2019-10-08 08:58] loupianche commented on #26
For 1.2.0

[2019-10-08 11:09] LeandroStanger opened #45 "Update to v1.1.99.5"

[2019-10-09 06:04] Eonfge commented on #45
Plese don't. The v1.1.99 is a testrelease before the v1.2.

When the v1.2 comes out proper, we'll have to check all updated python dependencies and we'll then also be able to update Lollypop itself.

[2019-10-23 15:16] loupianche commented on #45
Lollypop 1.2 is out ;)

[2019-10-23 15:48] Eonfge commented on #45
Don't forget to regenerate the python libs. Guess that some have had updates by now. Also, youtube-dl 2019.10.22 is out.

[2019-10-26 11:27] #45 closed

[2019-11-24 01:39] ishan9299 opened #54 "Cannot launch Easytag"
In the menu "Modify Information" doesnt launch EasyTag

[2020-01-14 09:30] Javanmardi opened #59 "Lollypop is not responding to dark theme variant"
OS: Ubuntu bionic
Kernel: 5.0.0-37-generic
DE: GNOME 3.28.4
WM Theme: Adwaita
Theme: Ambiance [GTK2/3]
Graphic driver: nvidia-driver-390.116

I recently upgraded my Lollypop from `Ubuntu PPA` to Flatpak and everything is going great (regular updating and user experience) except the Use dark theme variant from Preferences menu. This feature was doing well when I used the `PPA` version.

This is all

[2020-01-14 10:12] bilelmoussaoui commented on #59
Because Dark themes are not a thing. You're using Ambiance, which doesn't provide a "dark theme". Not a Lollypop issue

[2020-01-14 10:13] #59 closed

[2020-03-11 14:23] bellegarde-c opened #67 "1.2.25 is out"

[2020-03-14 09:06] Eonfge commented on #67
Working on it. Had some work disruption because of some unforeseen events.

[2020-03-14 10:40] Eonfge commented on #67
#69 resolved this. Thanks for the notification.

[2020-03-14 10:40] #67 closed

[2020-03-14 10:41] Eonfge commented on #54
Bit late, but Lollypop only supports Kid3 directly. There is no Flatpak version of Kid3 right now, so you'll have to manually start EasyTag, or you should install Kid3 from your system's repositories

[2020-03-14 16:10] ishan9299 commented on #54
Is possible package lollypop flatpak with kid3 together?

[2020-03-14 17:52] Eonfge commented on #54
I have looked into packaging Kid3 using Flatpak. If I'm able to do that, then that would be the preferred solution. Packaging Kid3 with Lollypop is undesirable, since they are both very distinct applications with their own use cases and technical framworks

[2020-03-14 17:52] #54 closed

[2020-04-29 15:06] felipehw opened #79 "Can't connect to Libre.fm and Last.fm"
Hi,
I tested with Lollypop non-Flatpak (Ubuntu 20.04) and I successfully connected to Libre.fm and Last.fm. (Works and appears something like a **✓** at the side of the button *Connect*)
But when I tried with Flatpak of Lollypop ... it fails at connect (and doesn't appear the feedback of a **✓** at the side of the button *Connect*).

[2020-04-29 16:39] Eonfge commented on #79
That's weird, because we're using exactly the same manifest as upstream:
https://gitlab.gnome.org/World/lollypop/-/blob/1.2.35/org.gnome.Lollypop.json

Could you try it, while running Lollypop from the console and tell me if it gives you any message?
```flatpak run org.gnome.Lollypop```

[2020-04-29 17:36] bilelmoussaoui commented on #79
The manifest upstream is updated from time to time mostly by me. I would guess we need to update pylast maybe?

Anyway, if you can provide some more infos, that would be helpful.

[2020-04-29 17:56] Eonfge commented on #79
@bilelmoussaoui Then it's perhaps time to update the entire dependency list, because all packages have had some updates.

[2020-04-29 18:34] bilelmoussaoui commented on #79
I have been planning to do so for a while :/

[2020-04-29 19:56] Eonfge commented on #79
I made a small start, but then I went to play Civilization 6 with my sister so the second half will have to wait:
https://github.com/flathub/org.gnome.Lollypop/tree/2020.05_DepenencyUpdates

[2020-04-29 20:27] felipehw commented on #79
@Eonfge,
the output of `flatpak run org.gnome.Lollypop` didn't produce any lines after I've clicked at *Connect*.

[2020-05-12 19:48] Eonfge commented on #79
@felipehw
Could you try this development version?
[code]

[2020-05-12 21:41] felipehw commented on #79
@Eonfge
The problem here remains ...
But this is happen just with me?

[2020-05-13 05:31] Eonfge commented on #79
I think so. Have not heard anybody else about it, and I don't use Last FM

[2020-05-13 14:28] felipehw commented on #79
Maybe this is a problem but just I in the "Lollypop world plus Flatpak" use "Libre FM || Last FM". 🤣🤣🤣

[2020-05-13 15:19] Eonfge commented on #79
Well... I don't know. I must confess that it sounds bloody unlikely that you're the only person having this problem. But then again, you'll be shocked how long it sometimes takes for bugs to trickle down. I've literally had cases where I accidentally broke [Cowsay](https://flathub.org/apps/details/org.gnome.gitlab.Cowsay) without networking, and it took me months before a colleague told me.

Could

[2020-05-14 14:11] felipehw commented on #79
I'm using Lollypop Flatpak with vanilla permissions (there is no file about this app at `~/.local/share/flatpak/overrides/`).
The problem exists in all variations: Just Libre.FM, just Last.FM and both at the same time.

[2020-05-19 16:02] bilelmoussaoui commented on #79
I would probably assume an upstream bug, unless you can't with a non flatpak package

[2020-05-19 18:50] felipehw commented on #79
This is not an upstream bug. :(
In Lollypop 1.2.35 of Ubuntu 20.04 repos, I can connect to Libre FM and Last FM without problems.
But with  Lollypop Flatpak version (1.2.35) I can't. At least in my Fedora 32 setup.

[2020-05-19 19:01] bilelmoussaoui commented on #79
what happens if you run Lollypop with `flatpak run --no-talk-name=org.freedesktop.secrets org.gnome.Lollypop`?

[2020-05-19 19:29] felipehw commented on #79
Nothing special:
[code]

[2020-05-30 01:01] felipehw commented on #79
@bilelmoussaoui @Eonfge
I found something!

When I run the app with this parameter: `org.gnome.Lollypop --debug`.

I get the follow message when I try connect to Libre.fm (or Last.fm):
[code]

The simple act of open the Dialog of Preferences, thrown these messages at CLI:
[code]

[2020-05-30 05:54] Eonfge commented on #79
Could you login here and ask Cedric about it? Seems to be an upstream issue then:
https://gitlab.gnome.org/World/lollypop

[2020-05-30 14:24] felipehw commented on #79
But at my Fedora 32. it works with the RPM version (`lollypop-1.2.35-1.fc32`).

It only fails with Flatpak ...

When I try (successfuly) to connect with Lollypop at Libre.fm in RPM version I got this messages:
[code]

[2020-05-30 14:52] felipehw commented on #79
By now, I can't compare outputs because there is a new Lollypop (1.3.0) just in Flatpak.

I'll wait for the new Lollypop (version 1.3.0) arrive in Fedora RPM or Ubuntu DEB to open a issue in upstream repo about this behavior (Last.fm/Libre.fm works only at non Flatpak builds ...).

[2020-05-30 15:03] Eonfge commented on #79
Ow sorry, I could have held off the release a bit longer if that was beneficial to your testing.

If you want to install a specific version, you can do the following:
[code]

If you want to see all previous versions, you can always do:
[code]

[2020-05-30 15:04] bilelmoussaoui commented on #79
I guess this is due to xdg-desktop-portal; the keyring is sandboxed and somehow the portal might be doing something wrong?

[2020-05-30 15:23] felipehw commented on #79
I tested the [official RPM](https://copr.fedorainfracloud.org/coprs/gnumdk/lollypop/) for Fedora. It works perfectly.

Should I open an issue in the upstream comparing the working Last.fm connect at official RPM with the behavior at Flatpak?

[2020-05-30 15:31] felipehw commented on #79
@bilelmoussaoui

Yes, I believe in something in this area. I'm not a developer but my "Password and Keys" (seahorse) in a environment  with RPM Lollypop shows "Passwords/Login" with entries for `org.gnome.Lollypop LASTFM` and `org.gnome.Lollypop librefm`.

The environment with Flatpak Lollypop doesn't has this entries ...

[2020-05-30 16:30] Eonfge commented on #79
@bilelmoussaoui does that relate to `"--talk-name=org.freedesktop.secrets"`?

[2020-06-02 17:35] felipehw commented on #26
We now have `org.kde.kid3` at Flathub.
I don't if this helps in anything ...

[2020-06-03 08:16] rugk commented on #26
@felipehw Well... you need to ask that to the Lollypop devs. Maybe they can remove the `flatpak-spawn` workaround and thus then improve the sandbox of Lollypop?

Could we create an issue or so?

[2020-06-03 08:36] bellegarde-c commented on #26
I can remove the flatpak-spawn :-)

[2020-06-03 11:01] rugk commented on #26
...and it still works?

I'd still guess we should look how upstream does it/discuss it with them.

[2020-06-03 11:07] bilelmoussaoui commented on #26
well @bellegarde-c is upstream.

You can't use the flatpak of org.kde.kid3 from the flatpak of Lollypop, you can't know it exists neither. The solution would be to bundle kid3-cli, building it requires Qt which will make the build a lot slower. Merge requests are welcome!

[2020-06-03 12:54] bilelmoussaoui commented on #79
@felipehw Since xdg-desktop-portal  1.6.0 the apps default to a sandbox keyring (which makes sense, otherwise apps can just look at the other passwords without giving you them an explicit permission). which is now shipped by default in the latest releases of various distros. I suggest trying an other application that uses libsecret and see if you can still use it correctly.

It might be an issue o

[2020-06-06 11:47] felipehw commented on #79
@bilelmoussaoui
How i look through the xdg-desktop-portal logs?
I tried this way:
[code]

Do you have an example of other application that uses libsecret? So I could test ...

[2020-06-09 20:41] bilelmoussaoui commented on #79
hmm, do you mind trying Authenticator?

[2020-06-09 21:57] felipehw commented on #79
Authenticator Flatpak succeeds in insert data to seahorse.

I'm looking here, Lollypop Flatpak also insert 1 entry (without description).

But my configured Lollypop Rpm insert 3 entries at seahorse. The normal one (without description) and 2 entries more with description: `org.gnome.Lollypop LASTFM` and `org.gnome.Lollypop librefm`.

I believe there is some problem in the action of access the key

[2020-06-09 22:16] bilelmoussaoui commented on #79
I will try to debug this and see if that's an issue on Lollypop side, it might take a while though

[2020-06-09 22:54] felipehw commented on #79
Thanks :D

[2020-07-28 16:48] Eonfge opened #91 "Lollypop can't index .wma music files because of missing plug-in"
Found this one by accident:

[code]

@bilelmoussaoui You know if we have to report this upstream, or if we must fix this here?

[2020-07-28 17:02] bilelmoussaoui commented on #91
Upstream doesn't really define the gstreamer dependencies correctly on the meson.build file https://gitlab.gnome.org/World/lollypop/-/blob/master/meson.build#L22-28

It would be nice to open an issue regarding that upstream so we can know which gstreamer plugins we should ship here.

[2020-07-28 17:43] Eonfge commented on #91
Notified Bellegarde. Should I also ask around at GNOME Build Meta, because apparently this codec is missing from the runtime while they have most other gst codecs?

[2020-07-30 10:11] bellegarde-c commented on #91
I have no idea and no time to search. @Eonfge But I already give solution on GitLab in the past, you should be able to find.

[2020-07-30 17:44] felipehw commented on #79
Update: Someone created an issue at upstream repo: https://gitlab.gnome.org/World/lollypop/-/issues/2481

[2020-08-01 11:57] bellegarde-c commented on #79
Done some testing on up to date ArchLinux.
When lauching Lollypop with Flatpak, I see my Last.FM credentials.

So, looks it's not true and that's why it fails, Lollypop tries to read/write to non sandboxed keyring (using gi Secrets).

[2020-08-05 10:38] Eonfge commented on #91
Found it:
https://gitlab.gnome.org/World/lollypop/-/issues/1212

I'll see if I can research it further, but I'm really short on time so it might be next month before I can pick this up.

[2020-08-19 10:29] bellegarde-c commented on #79
Runnin this simple python code inside Lollypop container does not add any entry to secret:

[code]

[2020-08-19 12:02] bilelmoussaoui commented on #79
Which version of xdg-desktop-portal-gtk you're running? The latest releases uses a sandboxd keyring, it might have introduced some issue. How did you check if the password is saved or not?

[2020-08-20 06:25] bellegarde-c commented on #79
xdg-desktop-portal-gtk-1.7.1-2.fc33.x86_64

I checked with secret-tool from container.

[2020-08-20 16:11] luismglvieira commented on #79
I have this problem too, I can't use the dark theme variant and it doesn't save the last.fm credentials. Manjaro KDE. Installing from pacman or AUR gives the same results.

[2020-08-21 06:41] bellegarde-c commented on #79
Not the same issue if does not work from AUR.

[2020-08-25 07:43] bellegarde-c commented on #79
https://github.com/flathub/ch.protonmail.protonmail-bridge/issues/27 ?

[2020-08-26 11:41] Eonfge commented on #91
Looked into it.

Previously (over a year ago), we still bundled versions of `gst-libav` and `gst-plugins-ugly` which made .wma files work. Now. If I reintroduce those versions (1.13.x) to the flatpak, then .wma files can be indexed and played. Now for the kick in the teeth, if I update those libs to the current version (1.16.2) then I can't play .wma files. Also checking the `gst-plugins-bad` modu

[2020-08-31 16:02] Eonfge commented on #91
Fixed with #95

[2020-08-31 16:02] #91 closed

[2020-09-14 11:39] bellegarde-c opened #99 "Lollypop Open-With feature broken: Gio.AppInfo.get_all_for_type() always return []"
Lollypop needs this to get applications handling music files.

It then launch the app with flatpak-spawn.

[2020-09-14 16:02] Eonfge commented on #99
Uhm. I'm not following you. Are you saying that the flatpak permissions are wrong?

[2020-09-14 16:03] bellegarde-c commented on #99
I have no idea what is wrong, it may be an issue in flatpak... (missing portal ?)

[2020-09-14 16:04] bellegarde-c commented on #99
Maybe a fix here: https://github.com/flathub/com.github.donadigo.appeditor/issues/6

[2020-09-14 20:09] bilelmoussaoui commented on #99
Apps can't access the installed apps by default. The thing done in appeditor is a huge hack that shouldn't be used in a music player iirc. Is it used to figure out if an audio tagging app is installed?

[2020-09-15 06:07] bellegarde-c commented on #99
Yes, it's used to get applications associated with mime type.

![Capture_d_écran_du_2020-09-14_13-34-46](https://user-images.githubusercontent.com/57196916/93172021-61387b00-f72a-11ea-8289-71356ae13c1d.png)

[2020-09-15 09:54] bilelmoussaoui commented on #99
Any reason for not using Gio.AppInfo.launch_default_for_uri ? this should call the OpenURI portal for you and present a similar dialog to what you have got in your screenshot

[2020-09-15 09:57] bellegarde-c commented on #99
Yes, the dialog was added to let user choosing what application to launch: file manager, tag editor, ...

[2020-09-15 10:06] bilelmoussaoui commented on #99
Using `Gio.AppInfo.launch_default_for_uri` would be the proper way to do it then :)

[2020-09-15 10:12] bellegarde-c commented on #99
**Let the user choosing** :p

[2020-09-15 10:13] bellegarde-c commented on #99
https://gitlab.gnome.org/World/lollypop/-/issues/287

[2020-09-15 10:16] bilelmoussaoui commented on #99
Ah right, because the Gio implementation decides of a default one after using it three times. You can call the portal manually then https://flatpak.github.io/xdg-desktop-portal/portal-docs.html#gdbus-method-org-freedesktop-portal-OpenURI.OpenURI where you can always ask the user to select an application.

[2020-09-15 11:49] bellegarde-c commented on #99
`gdbus call -e -d org.freedesktop.portal.Desktop -o /org/freedesktop/portal/desktop -m org.freedesktop.portal.OpenURI.OpenURI "" file:///etc/fstab {}`

This does nothing here, am I missing something ?

[2020-09-15 13:20] bilelmoussaoui commented on #99
You should handle the request part. The call returns a object path to the request made to the portal and wait for a response signal once the user accepts the interaction (choose an app) or closed it /an error happened

[2020-09-15 13:22] bellegarde-c commented on #99
[code]

Here it does not work :-/

[2020-09-15 13:40] bilelmoussaoui commented on #99
I will try it later today, does busctl/bustle reports anything?

[2020-09-15 13:52] bellegarde-c commented on #99
XDP: Not handling file uri file:///etc
XDP: Not handling file uri file:///etc/fstab

[2020-09-17 18:04] bilelmoussaoui commented on #99
@bellegarde-c from the specs ` Note that file:// uris are explicitly not supported by this method. To request opening local files, use OpenFile().`

[2020-09-26 13:51] mkhl opened #104 "1.4.0 fails to open: Namespace Handy not available"
The Lollypop flatpak fails to open after #103

<details>
<summary>Output of: flatpak run org.gnome.Lollypop</summary>
<pre>
Traceback (most recent call last):
  File "/app/bin/lollypop", line 45, in <module>
    from lollypop.application import Application
  File "/app/lib/python3.7/site-packages/lollypop/application.py", line 18, in <module>
    gi.require_version("Handy", "1")
  File "/usr/lib/p

[2020-09-26 15:51] bellegarde-c commented on #99
@bilelmoussaoui Do you have a solution to get file handle on an URI ?

[2020-09-26 18:27] BrainBlasted commented on #104
Libhandy isn't included in 3.38; You still need to bundle it.

[2020-09-26 21:23] Eonfge commented on #104
On it. This was a big oversight on my end. Due to #101, I accidentally tested against the wrong version. In case that I can't resolve the issue in due time, I'll roll it back.

[2020-09-26 21:51] Eonfge commented on #104
Should be resolved with #105. My apologies.

[2020-09-26 21:51] #104 closed

[2020-09-26 22:07] felipehw opened #106 "After update to 1.4.0, it doesn't start (valueError: Namespace Handy not available)"
After the update to 1.4.0 version, the app doesn't start:
[code]
Info about the flatpak used:
[code]

[2020-09-27 03:50] Eonfge commented on #106
Can you check for updates? There should be a new version available that addresses this issue:

[code]

[2020-09-27 12:30] felipehw commented on #106
Solved

[2020-09-27 12:31] #106 closed

[2020-09-29 20:39] bilelmoussaoui commented on #99
I'm not sure why you would need to explicitly use the file URI here? you can just open the file & pass the fd to OpenFile instead?

[2020-10-13 16:00] Eonfge opened #109 "Phone integration not supported"
When using Lollypop 1.4.1, I see that there are some features who don't seem to work. These include:
- Synchronizing albums or playlists to devices
- Converting to mp3 or AAC before synchronizing (They're unselectable)
- Converting to ogg or Flac before synchronizing (/tmp/ file access error)

### Further logging
[code]

[2020-12-18 17:02] bellegarde-c commented on #99
Because the file may be sftp://

[2020-12-18 17:26] bellegarde-c commented on #79
Any news on this ?

After some more debugging:
* Lollypop is writing to sandboxed keyring
* Lollypop is reading from not sandboxed keyring

After using flatpak Lollypop, non sandboxed keyring is broken:

g-dbus-error-quark: No such secret item at path: /org/freedesktop/secrets/collection/login/777

[2020-12-18 18:54] felipehw commented on #79
This is a sad situation.
Lollypop is the best GNOMEish Music Player and Flapak is the perfect format for a modern distribution of this kind of software.
Now, I'm using the RPM version to bypass the current Flatpak problems.

Maybe is a good idea to do mentions about these problems at the official site because it recommends Flatpak without explaining the current limitations ...

[2020-12-18 19:00] Eonfge commented on #79
@felipehw I kind off agree with you. We should not promote applications as 'fully functional' if there are components missing compared to non-flatpak versions. For example, I discovered that the phone-integration #109 is also not fully supported. Not bad for most users I guess (I had to find it myself after all) but it does add massive 'caveat emptor' to the project.

Otherwise, I am a bit lost on

[2020-12-18 19:04] felipehw commented on #79
@eonfge

I feel your pain. I help to keep a Flatpak here (Zotero) but I'm not a technical person so I can't fix non trivial problems.

[2020-12-19 10:29] bellegarde-c commented on #79
No idea for this issue but will give a look for the phone integration ;)

[2020-12-19 10:38] Eonfge commented on #79
@bellegarde-c Ow, I think I totally forgot to tell you. My apology, the memo must have slipped through, what with all the other things going on. Same for the no-host migration, it doesn't have the highest priority and I rather do it when we all have the time to do it properly.

[2021-01-03 20:59] bellegarde-c commented on #109
@bilelmoussaoui /tmp looks not writable in flatpak, any way to fix this issue?

[2021-01-05 13:01] bellegarde-c commented on #109
It's fixed in current master.

[2021-01-05 13:01] #109 closed

[2021-01-05 15:17] Eonfge commented on #109
Wait, just like that? I thought it was a Flatpak related thing and I didn't want to bother you with it. Had I known this, I would have reported it a few months ago :open_mouth:

[2021-01-05 21:22] bellegarde-c commented on #79
![Capture d’écran du 2021-01-05 14-39-21](https://user-images.githubusercontent.com/57196916/103700216-73257e80-4fa4-11eb-94cc-1f4a9a088efb.png)

Fixed but found another issue.

https://github.com/flatpak/xdg-desktop-portal/issues/557

[2021-01-05 21:22] #79 closed

[2021-01-05 21:33] bellegarde-c commented on #109
No, it was an issue with flatpak but I workaround it... There is a bug report opened on Flatpak page (setting TMPDIR)

[2021-01-06 01:20] bilelmoussaoui commented on #109
By using /var/tmp or whatever api python has for getting the temporary directory. That should work fine iirc

[2021-01-10 11:49] stragu opened #123 "Lollypop does not see anything else other than "music" in the home directory"
(originally reported on [the Lollypop repo](https://gitlab.gnome.org/World/lollypop/-/issues/2661) but Cédric said it is a Flatpak issue)

### Environment

- Lollypop version: 1.4.8
- GTK+ version: 2.24.32 and 3.22.30
- Operating system: Ubuntu 18.04

### Bug

Since the last update (1.4.8), and after a prompt about re-adding the library folders, Lollypop does not see my music library in `~/Musique

[2021-01-10 12:32] Eonfge commented on #123
I have a few suggestions.

- Can you try the following: `rm ~/.local/share/flatpak/overrides/org.gnome.Lollypop` This removes all possible custom permissions that you have.

- Can you check for me the folder configuration, this might be a localization issue. Afterall, you refer to the folder `./Musique` but your desktop might look for `./Music` due to a localization issue. Please, give me the resu

[2021-01-13 05:12] Jordanwvn commented on #123
I have had the same issue, with the same environment, except I was previously using a ./Music directory on an external hard drive. After the last update, Lollypop is no longer able to find any content on my external drive so I cannot select the correct directory.

[2021-01-13 07:05] Eonfge commented on #123
I have the same setup on my own. I have `~./Music` which I leave there for testing purposes, but all my actual music is on `/mnt/data/Muziek`. What I did after the migration, is I went into the preferences menu, tab music, and I added the `/mnt/data/Muziek` directory.

@Jordanwvn Can you tell me how and where you mounted the external disk? Lollypop should support gvfs so almost all situations shou

[2021-01-13 07:18] stragu commented on #123
Thanks @Eonfge

Replying to your three dot points:

* The first command does not work as the file does not exist (i.e. I assume it means I have no custom permissions)
* I use a EN locale:

[code]

* The issue is that when I add a source, the file explorer does not show _anything else_ than `~/Music` in my home directory. The folder exists, but it doesn't contain my music library. It's like the app

[2021-01-13 16:21] Jordanwvn commented on #123
@Eonfge the external drive I keep my music on is just a portable SSD. So when it's connected to my Ubuntu laptop the music directory is located at `/media/jordan/T7/Music`.

[2021-01-13 21:00] Eonfge commented on #123
@stragu Could you try something for me?
- ` flatpak run --command=sh --devel org.gnome.Lollypop`
- `/app/bin/lollypop`
- Go to Preferences -> Music -> Add Folder (+)

Tell me what logging appeared in your console.

Also, can you run `flatpak --version` because perhaps something is wrong with the Flatpak version you're using.

[2021-01-14 11:15] aidalgol opened #124 ""Issues" hyperlink on the Flathub page leads to the upstream issue tracker, not this one"
Exactly as the title says.  I raised a bug report there and was directed here: https://gitlab.gnome.org/World/lollypop/-/issues/2671

[2021-01-14 11:18] aidalgol opened #125 "Crash on startup"
Running commit `4a1e0da0f7aa9d7ea818149e5c0e58d2c2a0e0b3efb6fd93149df1f5e0fb2b95` of Lollypop in an X login with the i3 window-manager crashes immediately with the following output.  This is on a Debian 10 system running flatpak from buster-backports, `1.8.4-2~bpo10+1`.
[code]

[2021-01-14 11:45] stragu commented on #123
@Eonfge

I get an error:

[code]

But I can do:

[code]

,,, which might explain something!

And the version:

[code]

[2021-01-14 16:01] Eonfge commented on #124
That is technically according to specification... but I agree that it's quite confusing.

@barthalion Is this something that has been discussed before?

[2021-01-14 16:05] Eonfge commented on #123
Aaaah. That's the issue. You're not using the official PPA repository on Ubuntu 18.04 You'll have to add it to your system for newer Flatpak support:
[code]
https://www.flatpak.org/setup/Ubuntu/

Alternatively, update to 20.04 or 20.10

[2021-01-14 16:26] Eonfge commented on #125
Can you try running Lollypop with:
 ```flatpak run --no-talk-name=org.freedesktop.secrets org.gnome.Lollypop```

It appears that he can't find the secrets portal, which is odd. Let me know if it does work without. Not sure if that is i3 related, but then again I know very little about i3.

[2021-01-14 22:30] aidalgol commented on #124
I think that, in general, users should be directed to report issues against the downstream package, and then the maintainers can decide whether to forward it to upstream, unless the upstream maintainers have stated that they are willing to support downstream packages.

[2021-01-15 00:35] stragu commented on #123
Thank you! Yes, using the PPA updated flatpak, and I can now see all my files. Still can't add that particular folder for some reason, but closing this for now, unless @Jordanwvn thinks it should stay open?

[2021-01-15 08:50] aidalgol commented on #125
That gives me a different error with the same stacktrace:
[code]

I don't think i3 itself has anything to do with this; I mentioned it more to say that I am not running a full desktop environment.

[2021-01-15 16:22] RedMonkeyGone commented on #123
Actually, I think it should stay open. Am having the same issue but on CentOS8. Flatpak ver. 1.6.2

[2021-01-15 17:18] Eonfge commented on #123
Yes, and I'm afraid that 1.6 is no longer maintained. 1.8 and 1.10 are maintained, receiving security patches and such.

What you could do as a workaround, is giving lollypop full access rights:
```flatpak override --user org.gnome.Lollypop --filesystem=host```

Keep in mind that this has security implications. You're essentially disabling the sandboxing of Lollypop.

[2021-01-15 18:26] RedMonkeyGone commented on #123
Ahh, I see.
So, the only workaround is to install lollypop independently of flatpak or for the centos repo to keep more up to date with flatpak.

[2021-01-15 19:46] Eonfge commented on #123
You might still be better off using Flatpak, disabling the sandbox permissions. In exchange, you have the latest dependencies, and recent updates. Cent OS comes with Lollypop 1.1 so I would recommend using the Flatpak version, even if the sandboxing is not suitable.

[2021-01-16 22:25] RedMonkeyGone commented on #123
Thanks, hombre. It works now.

[2021-01-17 15:11] linuxitomio commented on #123
I might say that I have Ubuntu 20.04 and the release was not update. It was kept in Lollypop 1.2.2

[2021-01-17 20:20] Eonfge commented on #123
@linuxitomio & others. I'm taking this issue upstream because the website doesn't make it terribly clear what to do as an Ubuntu user. See: https://github.com/flatpak/flatpak.github.io/issues/450 for details.

**Tldr: If you use Ubuntu, you must use the PPA.** All versions tend to get outdated pretty quickly otherwise.

[code]

[2021-01-17 21:19] linuxitomio commented on #123
Thanks for the news.

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
El domingo, enero 17, 2021 9:20 PM, Eonfge <notifications@github.com> escribió:

[2021-01-17 21:38] linuxitomio commented on #123
and another thing. what about if I am using Debian 10?

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
El domingo, 17 de enero de 2021 22:19, delocoyo <delocoyo@protonmail.ch> escribió:

[2021-01-18 11:16] linuxitomio opened #128 "Using Debian 10 with backports keep not reading the external disk"
How can I install Lollypop if I dont wanna use flatpak?

[2021-01-18 17:50] Eonfge commented on #128
This is beyond the scope of this bugtracker, but let me try to help you.

Debian has a packaging system that relies on ._deb_ files, of on repositories which you can access using _apt_. Now, Debian is renown for their long term stability and it's reserved nature: It's not a fast driving sports car, it's an pickup. If you want Lollypop on Debian 10, you'll have to manually compile it or use Flatpak

[2021-01-18 17:52] Eonfge commented on #125
Dumb question perhaps, you know of any Linux image that comes with I3 out of the box? I want to test it, but setting it all up manually is quite time consuming.

[2021-01-18 19:28] linuxitomio commented on #128
Thank you so much for your answer @eonfge. Part by part.  I am not a pro with computers and tech, but I like to try. I decide to use Debian cause is done for people all around the world. It looks in my eyes that is made out of love from people that are not just thinking about money but for the right of use tech. Maybe I got the idea wrong. So thats why I choose to use it , eventhough sometimes it

[2021-01-18 19:53] linuxitomio commented on #128
And to say that this problem is using Flatpak

[2021-01-18 20:19] Eonfge commented on #128
Debian is certainly a community project, made with love and care by many dedicated contributors. What you could look into, is Debian Sid. Debian Sid is the latest version of Debian that gets updates on a fast cycle, which is then occasionally taken as the basis for a new long term release. It's the sports version of Debian, but it's also harder to drive.

That is a double edged sword though: Distr

[2021-01-18 21:59] aidalgol commented on #125
I don't know of any Linux images out there that come with i3 set up, but it shouldn't have to be that window manager in particular, just any bare WM should do.

I definitely have dbus working with other applications, so nothing in my environment is blocking all dbus connections, but the error message makes me suspect that Lollypop expects a service to be running that is never being started on my s

[2021-01-18 22:07] linuxitomio commented on #128
Waow. Thanks for your word.

I might say that I am using backports , but at some point while installing Lollypop  in flatpak version 1.8.5 through the backport, it suddenly says something about ayussass. I didnt understand that. So i have just uninstall Lollypop. Should I keep trying or I should just let it be then?

[2021-01-19 15:44] Eonfge commented on #128
That's apparently a known issue:
https://github.com/flatpak/flatpak/issues/3142

Can be caused by poor update processes, likely as a result of the backport.

---

The choice is yours. If you want to stick to Debian 10 and use Lollypop, then you have little choice besides Flathub. Else, you might want to try Debian Sid, or another distribution altogether.

[2021-01-19 15:57] Eonfge commented on #125
Have you asked upstream?

I'll see if I can reproduce the issue with this guide:
https://medium.com/hacker-toolbelt/i3wm-on-debian-10-buster-c302420853b1

[2021-01-20 03:55] aidalgol commented on #125
Yes, they closed the issue, and directed me here.  See https://gitlab.gnome.org/World/lollypop/-/issues/2671#note_1006447

[2021-01-27 16:26] Eonfge commented on #128
I'll close this issue unless you have further questions.  Feel free to reopen it then.

[2021-01-27 16:26] #128 closed

[2021-01-27 16:29] Eonfge commented on #125
Honestly, I'm not sure. Perhaps you should go one level up and ask at the Flatpak project directly. Have you tried another music player like Clementine or Tauon? It's clear that the issue is somewhere in between Flatpak and your custom setup.

[2021-01-27 19:51] aidalgol commented on #125
I have figured out that this error means the application is trying to use the Freedesktop Secrets API, which is provides by GNOME Keyring (whatever KDE's keychain application is called).  So the issue is that Lollypop has a hard dependency on the Secrets API, which I do not think it should.

[2021-01-28 16:36] bellegarde-c commented on #125
Already fixed:
https://gitlab.gnome.org/World/lollypop/-/merge_requests/1406

[2021-01-29 05:59] #125 closed

[2021-01-31 15:19] Eonfge commented on #125
I'm now distributing the latest version of Lollypop. Please let us know if you experience any further issues.

[2021-02-22 16:53] Eonfge commented on #123
I'm closing this issue, moving the annotations to the README.md using #134

[2021-02-22 16:53] #123 closed

[2021-02-22 17:32] Eonfge commented on #99
Closing this issue since it's put on the ToDo list for Lollypop 2:
https://gitlab.gnome.org/World/lollypop/-/issues/2711

[2021-02-22 17:32] #99 closed

[2021-02-22 17:33] Eonfge commented on #26
Closing this issue since it's put on the ToDo list for Lollypop 2:
https://gitlab.gnome.org/World/lollypop/-/issues/2711

[2021-02-22 17:33] #26 closed

[2021-02-23 20:07] JaneSmith opened #135 "Lollpop FUBAR. Almost never plays music, scans for music files on every launch, loses the music collection occasionally, errors about being unable to access files, etc."
As the title says. Lately Lollpop has not been functioning properly at all. It almost never plays music, scans for music files on every launch, loses the music collection occasionally, errors about being unable to access files, etc.

I am not sure whether this is an issue with Lollypop itself, or the Flatpak package. I posted a [comment on the Lollypop issue tracker](https://gitlab.gnome.org/World

[2021-02-24 07:02] Eonfge commented on #135
I'm sorry to hear all this, can you provide me with some extra information concerning your system? Can you give the the results of the following commands:

[code]

[code]

My fear is, that you're running an outdated version of Flatpak itself. A month ago we updated Lollypop so its sandboxing would work better, with the side-effect that unsupported vesions of Flatpak have issues. I already mentione

[2021-02-24 15:32] JaneSmith commented on #135
Sorry for the lack of information. I'm running Fedora Silverblue 33 (33.20210212.0), my Flatpak version is `1.10.1`, and my kernel version is `5.10.14-200`.

[2021-02-24 18:43] Eonfge commented on #135
Than it sounds like a config issue within Lollypop. Can you go to preferences and check the Collections listed?

![Screenshot from 2021-02-24 19-38-10](https://user-images.githubusercontent.com/33983090/109048861-de075200-76d7-11eb-8a2d-75fcaa05522b.png)

In this screenshot, you can see my `/Music` folder, which is actually on `/mnt/data/Music` so it should be possible to mount discs and than read

[2021-03-05 15:29] Eonfge commented on #135
@JaneSmith How is it going, have you been able to work out the problem?

[2021-03-06 23:34] JaneSmith commented on #135
Apologies for the late response.

My preferences window looks much the same as yours: https://i.imgur.com/Av2gNEn.png

That's how it looks most of the time, at least. Sometimes the collection list just empties on its own though, and when that happens I manually point it back to my Music folder.

`/var/mnt/XYZ` is the default in Fedora Silverblue. I haven't yet tried mounting to another location ye

[2021-03-07 10:29] Eonfge commented on #135
Correct. What you can do as a last resort,  is reverting that sandboxing change:
[code]

This gives Lollypop the original full host access, which will include all /mnt/ locations. By default, Lollypop now only has access to XDG/Music so you'll have to use the file portal. I do struggle to understand why it stopped working, because if you can go to the options menu and select the /mnt/ music folder

[2021-03-12 21:24] JaneSmith commented on #135
It does seem to be working okay after making the `--filesystem=host` change.

[2021-04-02 00:15] ryanrms opened #139 "[Flatpak] Lollypop not showing certain Japanese characters"
Hi all, been using the flatpak version of lollypop for a bit now and like it a lot!  I'm having an issue where Japanese fonts appear as boxes, not all of them - artists appear correctly (one didn't, but that one had malformed tags), only things that don't appear correctly are song and album titles.  I'm at a loss as to why this happens.

For instance, this file:

Filename: /home/ryan/Storage/Music

[2021-04-02 14:09] #135 closed

[2021-04-02 14:26] Eonfge commented on #139
I'm not sure what and how. I've tried to reproduce the issue and I had this:

![Screenshot from 2021-04-02 16-11-32](https://user-images.githubusercontent.com/33983090/113423095-2e0bbf80-93ce-11eb-842c-7e993f8b0273.png)
_(Caveat Emptor, I have no idea what the characters mean)_

Can you try install the following packages?
[code]

This should ensure that you have all the Ubuntu provided CJK fonts.

[2021-04-03 01:01] ryanrms commented on #139
@Eonfge those two packages were installed by default by my distribution, and are now set to manually installed.  It's really strange, because the PPA version of Lollypop displays song titles just fine, but the flatpak does not.  Maybe it's not picking up on certain fonts in the system?

[2021-04-08 14:22] Eonfge commented on #139
Mmh. I've looked into it a bit more, and I think it's Flatpak related issue. Can you look at this issue and tell my if your fonts are installed in the right location:

https://github.com/flatpak/flatpak/issues/924

I know too little about localization, and since it works on my machine, I fear that it's something Flatpak related or Ubuntu 20.04.

Wait, which flatpak version do you have? Can you do

[2021-04-10 16:46] abderrahim commented on #139
I've noticed this too. IIRC, it used to work fine and just broke recently. I suspect it was either caused by the move to gnome 40, or by a recent update of gnome 40.

FTR, I'm using Debian sid, flatpak 1.10.2.

[2021-04-28 18:20] Eonfge commented on #139
I checked upstream and they have an issue about this dating back to Juli 2019...
https://gitlab.gnome.org/World/lollypop/-/issues/1906

Honestly, I think it's something about your setup since reproducing it has proven to be nigh-impossible. I'll give it another shot with Elementary OS 5.1, but it's a tough one to pin-point the responsibility.

[2021-04-28 18:54] ryanrms commented on #139
I was running a prerelease version of elementary so it could have been misconfigured. I no longer run elementary and can no longer reproduce it so I'll close the issue.

[2021-04-28 18:55] ryanrms commented on #139
Oh shoot. Didn't realize it affects someone else. I'll reopen it and see if we can help the friend with Debian.

[2021-05-22 06:45] Eonfge commented on #139
I've given it another shot but with no success:

![Screenshot from 2021-05-22 08-42-42](https://user-images.githubusercontent.com/33983090/119217317-b6a70200-bad9-11eb-8752-6cbe63e2a41a.png)

On the left you can see my test-files, with different codecs and metadata, and on the right Lollypop. Only the .WMA test file is not displayed since I didn't include the non-free codecs in this test. Japanese

[2021-07-05 07:38] bellegarde-c opened #152 "Update to 1.4.22"
Hello, please update to fix https://gitlab.gnome.org/World/lollypop/-/issues/2791

[2021-07-05 13:22] Eonfge commented on #152
On it. Build is going live in about an hour: #153

[2021-07-05 13:22] #152 closed

[2021-10-14 14:40] Vormalzalek opened #158 "Adding List songs by folder"
Hello,
I'm a Pinephone Mobian user. Lollypop is great software, I use it everyday. There is a common and useful option missing in the main menu where the user chooses from Suggestions, Compilations, Genres, Artists... There could be an option for playing files from a folder. Is this possible?

Thank you

[2021-10-21 17:04] #158 closed, assigned to nobody

[2022-01-26 16:08] Eonfge commented on #139
I'm closing this until I have something to work with. If you can reproduce this issue

[2022-05-16 19:33] fin-ger commented on #109
mp3 and AAC conversion for synchronization is still grayed out for me. Is this a regression or am I missing something?

[2022-05-17 14:48] Eonfge commented on #109
Do you have the ffmpeg additions?

mp3 conversion might be affected by it. If that's not it, please open another issue to keep this problem tracked

[2022-05-17 18:07] fin-ger opened #178 "MP3 and AAC conversion disabled with ffmpeg additions installed"
Hi,

coming from #109, I have Lollypop 1.4.31 from Flathub installed along with `org.freedesktop.Platform.ffmpeg-full//21.08` and am unable to convert to AAC and MP3 when syncing my music on a USB device.

![Disabled AAC and MP3 option](https://user-images.githubusercontent.com/5300274/168880478-7b50ec68-e0b0-4eaf-8005-c9280e1dfc95.png)

[2022-05-17 20:12] Eonfge commented on #178
@bellegarde-c Got any ideas? I remembered that we looked into this before

[2022-05-23 22:29] felipehw opened #179 "Flatpak version doesn't find "kid3-cli" from host"
### Environment
- Lollypop version: 1.4.31, Flatpak Commit `b577a13258732597745727c70d8fd01cc2ca526938d98680a6b7b48212e7a3bd` (Date: *2022-05-02 15:06:28 +0000*)
- GTK+ version: `org.gnome.Platform/x86_64/42`
- Operating system: Silverblue `36.20220514.0` with `kid3-common` layered package

### Bug

Lollypop Flatpak version doesn't find `kid3-cli` from host.

My Silverblue host:

[code]

I accessi

[2022-06-02 03:06] rdrms opened #180 "Bit of information RE: sandboxing"
I have a music directory that is not in ~/Music, but rather ~/Storage/Music, which is another drive (~/Storage/) mounted in the home directory.

I had the issue of Lollypop always saying "Scan disabled - missing collection" after ever reboot (perhaps every relaunch of the application) of the system.  I used Flatseal (great app for flatpak permissions) to allow it access to the home (~) directory,

[2022-06-02 17:24] Eonfge commented on #180
Mmh. Sounds more like you have an issue with mounting disks. I also have my music collection on a different partition but I don't have the issue you describe.

How and when do you mount the music partition? Could you share your `/etc/fstab`?

[2022-06-02 18:08] rdrms commented on #180
I forgot some details that might be pertinent. I'm running Fedora Silverblue, if you're not familiar the main filesystem is read only, while the read/write portions are mostly contained in /var, including the home directory which is /var/home

My fstab looks like this:
[code]

As far as I know, this is the correct way to mount volumes on Fedora Silverblue (with the /var/home path instead of /home)

[2022-06-23 15:55] Eonfge commented on #179
How did I miss this? My apologies for responding too late

---

There are two options;
- I could bundle kid3-cli with the application
- You can use https://flathub.org/apps/details/org.kde.kid3

The problem with `flatpak-spawn` is that it's a hack. I could create a wrapper that includes the `--host` but it would be a really messy thing.

What do you think is best?

[2022-06-26 14:47] bellegarde-c commented on #179
Not possible to add this as a Flatpak plugin ?

[2022-06-26 22:16] bilelmoussaoui commented on #179
That would require qt right?

[2022-06-27 16:01] Eonfge commented on #179
@bellegarde-c I could bundle the entire kid3-cli application, but a plug-in wouldn't actually make it any easier.

@bilelmoussaoui I'll have to double check the dependencies, but Kid3 can be compiled without the KDE UI so it likely won't need the KDE runtime: https://github.com/flathub/org.kde.kid3/blob/5db32165aaf8d0eb42533998b1e8123d8fe68645/org.kde.kid3.json#L79

Shall I try to bundle kid3? Mig

[2022-06-30 20:50] felipehw commented on #179
Humph, I see ...
Bundle kid3-cli demands ugly solutions.

@Eonfge, the option of directly using kid3  isn't really an option because I don't use kid3 to occasionally edit music tags like name, etc., I use the integration in Lollypop to automatically write in the file my ratings of the music (★★★★★) while I'm hearing them.

Maybe use the more straightforward hackish option (`flatpak-spawn --host`)

[2022-07-04 19:06] Eonfge commented on #179
I even found another issue with this workflow; the user will need to have kid3 as non-flatpak application... else, the sandboxed version of kid3-cli (from org.kde.kid3) will complain that it can't find the file since it's at a different mount point: The sandbox of Lollypop and Kid3 don't see the same files.

So... the problem gets bigger. even If I configure `flatpak-spawn  --host kid3-cli` to wor

[2022-08-09 01:47] LinuxOnTheDesktop opened #184 "Running the flatpak fails: 'Failed to load module "xapp-gtk3-module"'"
On the newly released Mint 21 (Cinnamon flavour), the flatpak of Lollypop does not run.

[code]

[2022-08-21 05:47] Eonfge commented on #184
I was on holiday so you had to wait a bit for a reply.

This sounds to me like a Cinnamon issue. For Flatpaks to properly work, they need certain components on the system. One of those is a file-browser extension so you can safely read and write to the disk. You're missing that for GTK3 applications.

Can you check if other GNOME applications work from Flathub?

[2022-08-21 07:26] Eonfge commented on #180
I stumbled on this myself now. Only happened to me once now, so it might be unrelated, but I'll keep this issue open for further analysis.

[2022-08-23 19:57] Eonfge commented on #180
I'm trying to pin point the issue; See if it's Flatpak or Lollypop related... Can you try something?

When you add your music library, it should sylink to a folder like this;
`/run/user/1000/doc/57297c26/Music/`

the `1000` is your user-id, `57297c26` is random, and then it should contain the folder with your music. I want to ask you to write down the number path and see if it changes after a rest

[2022-08-23 20:50] rdrms commented on #180
Unfortunately I can't quite locate the correct folder, as I have a bunch of Flatpak applications which have littered the /run/user/1000/doc/ folder with 205 folders, variously containing nothing, or maybe an image I uploaded with a browser, or a movie file I watched in mpv, or a bunch with a single mp3 in them...

I did try resetting the permissions to remove the ability of Lollypop to see all of

[2022-08-24 16:42] Eonfge commented on #180
I did it by searching for `song-i-like.flac`

And yeah, this does seem to be a Flatpak specific issue. Let's see if I get it as well.

[2022-09-26 15:40] Eonfge commented on #180
Have you recently had this problem? I have not seen it since the last time I talked commented

[2022-09-26 19:11] rdrms commented on #180
I kind of gave up trying to make it work the normal way and just granted permission for Lollypop to see the home directory again.  I can try resetting the permission and doing the library again, then restarting. I think it may end up like

^ from an above comment

[2022-09-26 19:32] Eonfge commented on #180
Changing the permissions now, will cause that error to occur again. That's working as designed... although the documentation is quite unclear about it.

For the record, I have not granted any additional permissions and I haven't had it happen again. If you keep your permissions as-is, and nothing changes, then that's a win in my book.

[2022-09-26 19:33] rdrms commented on #180
Ok I’ll try it again and edit the comment with the outcome.

[2022-09-26 20:06] Eonfge commented on #180
When you change the mount options, even if the folder itself stays the same, it decouples the symlink. Thus, this was expected.

I will keep an eye out in case it happens again, especially since I also had it once.

[2022-09-26 20:12] rdrms commented on #180
So I reset the library, closed the application.  Reset all permissions to standard ones (only difference was full access to /home/me), opened it, added the library folder. Let it finish indexing, closed application and then restarted the computer. Opening it again led to the error. Hope this is more clear.

[2022-09-26 20:47] Eonfge commented on #180
Mmh. @bellegarde-c Could there be something wrong with storing the file-paths if loading from `/run/user/1000/doc/XXXXXX` ?

[2022-09-27 13:30] bellegarde-c commented on #180
I cannot confirm the issue.

`music-uris=['file:///var/home/gnumdk/Musique/Collection', 'file:///run/user/1000/doc/22027277/Sex%20is%20Muss']`

I guess the issue is related to KDE xdg-portal

[2022-09-27 16:47] rdrms commented on #180
It was also an issue on Silverblue running GNOME, see the screenshot from Aug 23.

[2022-09-30 13:56] bellegarde-c commented on #180
I use Silverblue and does not happen here :(

[2022-09-30 14:07] bellegarde-c commented on #180
$ flatpak run --command=sh --devel org.gnome.Lollypop

![image](https://user-images.githubusercontent.com/57196916/193287740-370a3537-53ea-427f-823e-61245b7af423.png)

So the portal automount the folder here...

[2022-10-10 14:51] bellegarde-c opened #189 "Youtube-dl not working"
[code]

Any idea ? I'm trying to move Lollypop to yt-dlp but facing exactly the same issue.

[2022-10-10 15:14] Eonfge commented on #189
I'm just following you here. I made an issue over on GNOME's Gitlab when Youtube-dl became deprecated and since then I'm waiting for your resolution.

https://gitlab.gnome.org/World/lollypop/-/issues/2840

My guess is that some of the Python headers have changed and therefore can't find it any more. yt-dlp is not API compatible with youtube-dl. Since they had to fork anyway, they instantly removed

[2022-10-10 16:08] bellegarde-c commented on #189
The issue is not with yt-dlp, it happens with current flathub package.

I'm just having the same issue with yt-dlp so I guess it's a python issue.

[2022-11-08 16:12] Eonfge commented on #180
I've had it twice more. This weekend, when I was not in the mood for debugging, and just now. When I go into the flatpak container I get this;

[code]

@bellegarde-c Could it be that the mounting goes well, but that Lollypop forgets the directory? Right now, the runtime still has access to the music Lollypop can't find it any more. As it stands, it seems that Flatpak does everything right, but for

[2022-11-12 11:33] Radical4ever commented on #189
maybe creating a flatpak runtime for yt-dlp would solve this issue?

[2022-11-14 19:35] Eonfge commented on #189
I've updated the package with Lollypop 1.4.36 and yt-dlp, so I hope that everything is solved now.

[2022-11-14 19:35] #189 closed

[2022-11-14 20:57] Radical4ever commented on #189
can confirm it works great now!

[2022-11-17 10:52] lunaryorn commented on #109
@bellegarde-c This issue still exists for me, in version 1.4.36 🤔

I've found https://gitlab.gnome.org/World/lollypop/-/issues/2892 upstream, but it doesn't contain any fix either 🤔

I've seen this issue before with `/tmp`; couldn't lollypop check whether `/.flatpak-info` exists and then manually override `TMPDIR` to `$XDG_RUNTIME_DIR/app/$FLATPAK_ID`?  I could contribute a patch if this is a viab